@import "../index.scss";

h1 {
  font-size: 3rem;
  color: goldenrod;
  font-family: "Dancing script";
  margin: 5vh auto;
}

.hidden {
  display: none !important;
}

.borrowCard {
  border-radius: $radius-lg;
  box-shadow: $box-shadow;
  padding: 5px;
  background: $gradient;
  margin: 0.5rem;
  .card-body {
    padding: 0 !important;
  }
  .card-footer {
    background: $wh;
    border: none;
    .borrowButton {
      font-size: 0.7rem !important;
      font-style: normal;
      background: #ad3a70cc;
      border: none;
      &:hover {
        box-shadow: $box-shadow;
      }
    }
  }
  &:hover .card-img {
    transition: $transition;
    filter: saturate(0);
  }
  &:hover .card-footer .borrowButton {
    transition: $transition;
    background: $gradient;
    color: $wh;
  }
}
