$main-color: #f8d5c7;

.clothing-container {
  margin: 5vh 0;
  background: $main-color;
  height: 90vh;
  h2 {
    margin: 5vh auto;
  }
}

.comments-container {
  height: 90vh;
  .sub-container {
    padding: 1rem;
  }
  .comments-feed {
    background: fade-out(#f5f5f5, 0.5);
    padding: 2vh 0;
  }
}

// Delete this when profile component is made
.fake-profile {
  height: 20vh;
  background: fade-out(#c0c0c0, 0.5);
}
