$main-color: #f8d5c7;
$white: #f5f5f5;
$transition: 0.2s;
$secondary-color: goldenrod;

h2,
h4,
button,
.profile-name {
  font-family: "dancing script";
  color: $secondary-color;
}

.profile-name {
  font-size: calc(1rem + 1vw);
  color: $secondary-color;
}

.clothing-container {
  background: $main-color;
  h2 {
    margin: 5vh 0;
  }
}

.comments-container {
  .sub-container button:not(.report-button) {
    font-size: calc(1rem + 0.3vw);
    background: #ad3a70cc;
    border: none;
    &:hover {
      background: #6b2546cc;
    }
  }
  .borrow-phrase {
    font-family: "Dancing Script", cursive;
    font-size: calc(1rem + 0.2vw);
    padding-top: 0.3rem;
  }
  .comments-feed {
    background: #fbf4f1;
    padding: 2vh 0;
    border-radius: 5px;
    box-shadow: 0.2rem 0.3rem 0.3rem fade-out(#222, 0.9) !important;
  }
}

.no-comment-text {
  font-family: "Dancing script", cursive;
  font-size: 125%;
}

.comment-form input {
  border: none;
  background: #fbf4f1;
  transition: $transition;
  &:focus {
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1) !important;
    border: none;
  }
}

.comment-form {
  button {
    border: transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: $transition;
    font-size: 1.3rem;
    &:hover,
    &:focus {
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
    }
    &:active,
    &:focus {
      margin-top: 2px;
    }
  }
}
