$main-color: #f8d5c7;
$white: #f5f5f5;
$transition: 0.2s;
$secondary-color: goldenrod;

h2,
h4,
button,
.profile-name {
  font-family: "dancing script";
  color: $secondary-color;
}

.profile-name {
  font-size: calc(1rem + 1vw);
  color: $secondary-color;
}

.clothing-container {
  background: $main-color;
  h2 {
    margin: 5vh auto;
  }
}

.comments-container {
  .sub-container {
    padding: 2rem 0;
  }
  .comments-feed {
    background: #fbf4f1;
    padding: 2vh 0;
  }
}

#comment-form {
  background: #fbf4f1;
  border: transparent;
  transition: $transition;
  &:focus {
    box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
  }
}

.comment-form {
  button {
    background: #fbf4f1;
    border: transparent;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    transition: $transition;
    font-size: 1.3rem;
    &:hover,
    &:focus {
      box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.1);
    }
    &:active,
    &:focus {
      margin-top: 2px;
    }
  }
}
