$bl: #222;

* {
  color: $bl;
}

.dropdown-btn .btn,
.dropdown-btn .btn:hover {
  border: transparent;
  background: transparent !important;
  color: $bl;
  box-shadow: 0 0 0 transparent !important;
}

.report-button {
  background: #fbf4f1;
  border: transparent;
  &:hover {
    background: #fbf4f1;
  }
  a {
    font-size: 0.8rem;
    font-family: sans-serif;
    color: fade-out($bl, 0.5);
    text-decoration: none;
    &:hover {
      color: fade-out($bl, 0.2);
    }
  }
}

.dropdown-menu {
  border: none;
  background: #fbf4f1;
}

.comments-profile {
  font-size: calc(1rem + 0.2vw);
  margin-left: 2rem;
}

div:nth-child(1) > button:nth-child(1) > svg {
  stroke: #222;
}

.comment-avatar {
  width: 80px;
  height: 80px;
  margin-right: 2rem;
  border-radius: 50%;
}

@media screen and (max-width: 766px) {
  .comment-avatar {
    width: 50px;
    height: 50px;
    margin-right: 2.5rem;
  }
  .comments-profile {
    font-size: calc(0.8rem + 0.3vw);
    margin-left: 1.5rem;
    margin-right: 1rem;
  }
  .comment {
    font-size: calc(0.8rem + 0.3vw);
  }
}

@media screen and (max-width: 375px) {
  .avatar {
    width: 100px;
    height: 100px;
  }
  .comment-avatar {
    width: 50px;
    height: 50px;
    margin-right: 2.5rem;
  }
  .comments-profile {
    font-size: calc(0.6rem + 0.3vw);
    margin-left: 1.5rem;
    margin-right: 1rem;
  }
  .comment {
    font-size: calc(0.5rem + 0.3vw);
  }
}
