@font-face {
  font-family: "DancingScript";
  src: url("DancingScript-Regular.ttf");
}

.imgAvatar {
  border-radius: 90%;
  width: 20%;
  height: 200px;
  float: left;
  object-fit: cover;
}

.cardTextMessaging {
  margin-left: 50px;
}

.messageDate {
  position: absolute;
  left: 85%;
}

.imgAvatarRight {
  border-radius: 90%;
  width: 20%;
  height: 200px;
  float: right;
  object-fit: cover;
}

.nameRight {
  position: relative;
  left: 70%;
}

.name {
  font-size: 2rem;
  color: goldenrod;
  font-family: DancingScript;
}

.titleMessage {
  font-size: 5rem;
  color: goldenrod;
  font-family: DancingScript;
}
