@font-face {
  font-family: "DancingScript";
  src: url("DancingScript-Regular.ttf");
}

@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-Regular.ttf");
}

.imgAvatar {
  height: 15vw;
  width: 15vw;
  object-fit: cover;
}

.cardTextMessaging {
  margin-left: 50px;
}

.messageDate {
  text-align: right;
}

.imgAvatarRight {
  border-radius: 90%;
  width: 20%;
  height: 200px;
  float: right;
  object-fit: cover;
}

.nameRight {
  text-align: right;
}

.name {
  font-size: 2rem;
  color: goldenrod;
  font-family: DancingScript;
}

.titleMessage {
  font-size: 3rem;
  color: goldenrod;
  font-family: DancingScript;
}

.link:hover {
  text-decoration: none;
}
.bodyText {
  font-family: "Montserrat", sans-serif;
}
.timeStamp {
  font-family: "Montserrat", sans-serif;
}
