.header {
    margin-left : 1rem;
    width : 100%;
    display: flex;
    flex-direction: row;
}

hr {
    width: 80%;
    height: 0.2rem;
    color : #f7fab2;
    background-color: #f7fab2;
    border : 0;
}

.logo {
    border-radius: 50%;
}

ul {
    list-style: none;
}

.recherche {
    text-align: center;
    height:20px;
}


.list-right {
    text-align: right;
}

.rightList {
    display: block;
    float : right;
    margin: 0;
    padding: 0;
    text-align: right;

}

.title {
    width: 13rem;
    margin-top :4rem;
}

.recherche {
    margin-top : 5rem;
    margin-left : 1rem;
}

.picto {
   height: 4rem;
   margin-top :5rem;
   margin-left : 3rem;
   width : 20rem;
}

.img {
    padding-left:0.8rem;
    width: 50px;
}
.navhorizontal {
    flex-direction: row;
}