.navbar {
  border-bottom: 2px solid goldenrod;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 200;
}

.bg-light {
  background: white !important;
}

.navbar-nav {
  flex-direction: row;
  margin-top: 2em;
}

.navTitle {
  font-family: "dancing script";
  font-size: 2rem;
}

.logo {
  border-radius: 50%;
}

ul {
  list-style: none;
}

.search-input {
  text-align: center;
  height: 20px;
  width: 20rem;
}

.list-right {
  text-align: right;
}

.rightList {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navText {
  width: 13rem;
}

.img {
  width: 50px;
}

form {
  margin: 0 auto;
}

label,
input,
button,
img {
  display: block;
  background-color: transparent;
  border: none;
}

form label {
  position: relative;
  width: 25rem;
}

form label input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 60px;
  font-size: 15px;
  font-family: sans-serif;
  border: 2px solid #f8d5c7;
  border-radius: 7px;
  height: 2rem;
}

form label input {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

form label input[type="submit"] {
  font-size: 1rem;
  margin-left: 5px;
  color: black;
}

@media screen and (max-width: 430px) {
  form label input[type="text"] {
    width: 85%;
    margin-left: -0.5rem;
  }
  .search-input {
    width: 10rem;
  }
  .collapse {
    margin-top: 1rem;
  }
}
