.header {
  display: inline-block;
  position: fixed;
  top: 0;
  border-bottom: 2px solid goldenrod;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.1);
  width: 101vw;
  height: auto;
  z-index: 200;
  margin-bottom: 10rem;
  transition: top 0.6s;
}
.header--hidden {
  top: -150px;
}
.bg-light {
  background: white !important;
}

.navbar-nav {
  flex-direction: row;
  margin-top: 2em;
}

.navTitle {
  font-family: "dancing script";
  font-size: 2rem;
}

hr {
  height: 0.2rem;
  color: goldenrod;
  background-color: goldenrod;
  border: 0;
  margin: 0 0 1rem 0;
  left: 0;
  right: 0;
}

.logo {
  border-radius: 50%;
  width: 7rem;
  left: -1rem;
}

.bg-light {
  background: white !important;
}

ul {
  list-style: none;
}

.search-input {
  text-align: center;
  height: 20px;
  width: 20rem;
}

.list-right {
  text-align: right;
}

.rightList {
  display: block;
  float: right;
  margin: 0;
  padding: 0;
  text-align: right;
}

.navText {
  width: 13rem;
}

.img {
  width: 50px;
}

label,
input,
button,
img {
  display: block;
  background-color: transparent;
  border: none;
}

form label {
  position: relative;
  width: 25rem;
}

form label input[type="text"] {
  width: 100%;
  padding: 10px 10px 10px 40px;
  font-size: 15px;
  font-family: sans-serif;
  border: 2px solid #f8d5c7;
  border-radius: 7px;
  height: 2rem;
}

form label input {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

form label input[type="submit"] {
  color: transparent;
  cursor: pointer;
  width: 30px;
  margin-right: 10px;
}
form {
  margin: 2.5rem auto 0 auto;
}

.magnifier {
  width: 20px;
  margin-left: 15px;
  color: black;
  cursor: pointer;
  opacity: 0.5;
}

@media screen and (max-width: 1025px) {
  .img {
    width: 25px;
  }
  .magnifier {
    width: 20px;
    margin-left: 13px;
  }
  form label input[type="submit"] {
    margin-right: 3px;
    width: 38px;
  }
}

@media screen and (max-width: 808px) {
  form label input[type="text"] {
    margin-left: 2.5rem;
    width: 70%;
    font-size: 0.8rem;
  }
  input {
    padding-left: 3rem;
  }
  .img {
    width: 25px;
    position: relative;
    right: 3.5rem;
  }
  .magnifier {
    width: 20px;
    margin-left: 50px;
  }
  form label input[type="submit"] {
    width: 2px;
    margin-right: 0;
    margin-left: 20px;
  }
}

@media screen and (max-width: 766px) {
  form label input[type="text"] {
    width: 85%;
    margin-left: -0.5rem;
    font-size: 0.6rem;
  }
  .search-input {
    width: 10rem;
  }
  .collapse {
    margin-top: 1rem;
  }
  .img {
    width: 25px;
    right: 0;
  }
  input {
    padding-left: 5px;
  }
  .navText {
    width: 13rem;
  }
  form {
    margin-top: 0;
  }
  .magnifier {
    width: 20px;
    margin-left: 8px;
  }
  form label input[type="submit"] {
    width: 28px;
    margin-right: 33px;
    margin-left: 0;
  }
  .logo {
    border-radius: 50%;
    width: 5rem;
    left: -1rem;
  }
}

@media screen and (max-width: 352px) {
  form label input[type="text"] {
    width: 60%;
    margin-left: -0.5rem;
  }
  .search-input {
    width: 6rem;
  }
}
