$main-color: #f8d5c7;
$white: #f5f5f5;
$transition: 0.2s;
$secondary-color: goldenrod;

.Photo {
  padding: 5px;
  background: linear-gradient(135deg, #ff90d4cc 30%, goldenrod);
  animation: 0.5s appear;
  border-radius: 10px;
}

.overlay {
  opacity: 0;
  display: flex;
  height: 0;
}

.picture-card {
  background: transparent;
  border-radius: 10px;
  border: none;
  margin: 3vh auto;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.1);
  &:hover .overlay {
    border-radius: 0 0 6px 6px;
    transition: 0.4s ease-out;
    position: absolute;
    background: rgba(34, 34, 34, 0.5);
    left: 5px;
    bottom: 5px;
    right: 5px;
    opacity: 1;
    justify-content: center;
    height: 4rem;
  }
}

svg {
  margin: 0 1vw;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
