* {
    color: #222
}

.avatar {
    padding: 10px;
    border-radius: 100%;
    background: linear-gradient( 135deg, #f8d5c7 0%, #f7fab2 100%);
}

.button {
    background-color: #f8d5c7 !important;
    color: #222 !important;
    width: 150px
}

.dancingscript {
    font-family: 'Dancing Script';
    font-size: 1.5rem
}

.starsgrey {
    color: #CCC
}