* {
  color: #222;
  /* background-color: rgba(34, 34, 34, 0.1); */
}

.button {
  background-color: #f8d5c7 !important;
  color: #222 !important;
}

.primaryfont {
  font-family: "Dancing Script";
  font-size: calc(.8rem + 1vw);
}

.starsgrey {
  color: #ccc;
}