@import "../index.scss";

.uploader-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 5vh;
  .form-control {
    border: none;
  }
  .btn,
  .fileContainer .image-upload-button,
  .fileContainer .chooseFileButton {
    background: #ad3a70cc;
    border: none;
    border-radius: $radius-sm;
    &:hover {
      background: linear-gradient(
        130deg,
        fade-out($main-color, 0.8),
        fade-out($main-color, 0.2),
        fade-out($main-color, 0.8)
      );
      box-shadow: $box-shadow;
    }
  }
}

.fileContainer input {
  z-index: 10000;
  top: 68%;
  left: 25%;
  width: 50%;
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 10%);
  background: #fff8ff;
}

.modal-dialog {
  max-width: 70vw;
}

.modal-backdrop {
  background: #1b001b;
}

.modal-backdrop .show {
  opacity: 0.99 !important;
}

@media (max-width: 640px) {
  .modal-dialog {
    max-width: 100vw;
  }
}

.hidden {
  display: none !important;
}

#deposit {
  transform: translate(5px, -8px);
}
