@font-face {
  font-family: "Dancing Script";
  src: url("./style/DancingScript-Regular.ttf");
}

body {
  background: #fbf4f1;
}

::selection {
  background: goldenrod;
  color: white;
}

.container {
  margin-bottom: 2rem;
  margin-top: 7.5rem;
}
